:root {
  --color-primary: #4d5225;
  --color-primary-hover: #3b401e;
  --color-white: #ffffff;
  --radius-md: 8px;
  --radius-lg: 15px;
   --radius-xl: 25px;
  --radius-lg: 15px;
  --font-size-sm: 15px;
  --transition-fast: 0.2s ease;
  --border-color: #dddddd;
  --border-color-hover: #a0a0a0;
  --text-color: #000000;

  --sidebar-bg: #4d5225;
  --sidebar-border: 1px solid #000000;
  --gray-border:1px solid #CCCCCC;
  --gray-icon:#CCCCCC;
  --gray-text:#CCCCCC;

}

//POPPINS FONT STYLES
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
   font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
   font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
   font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
   font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
   font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
   font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
   font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
   font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
   font-display: swap;
}
