.data-table-wrapper {
  border-radius: 0 !important;
  color: #000 !important;
}

.sc-fVHBlr{
  border: 1px solid #dcdcdc !important;

}
.rdt_TableHeadRow {
  border-bottom: 1px solid #dcdcdc !important;
}

.rdt_TableCol {
  font-size: 12px !important;
  font-weight: 600 !important;
  border-right: 1px solid #dcdcdc !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  color: #000 !important;
}

.rdt_TableRow {
  border-bottom: 1px solid #e5e5e5 !important;
}

.rdt_TableCell {
  font-size: 12px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  border-right: 1px solid #e5e5e5 !important;
  color: #000 !important;
}

.rdt_TableCol:last-child,
.rdt_TableCell:last-child {
  border-right: none !important;
}



.kOdnNV {
  overflow: hidden !important;
}
