.custom-progressbar-container {
  width: 100%;
  margin-bottom: 1rem;

  .progressbar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
  }

  .custom-progressbar {
    height: 16px;
    border-radius: 8px;
    background-color: #e9ecef; // trail color
    overflow: hidden;

    .progress-bar {
      border-radius: 8px;
    }
  }
}
