.textarea-control-wrapper {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;

  .textarea-label {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
  }

  .textarea-box {
    padding: 12px;
    border: 1px solid #ddd;
    font-family: inherit;
    border-radius: var(--radius-md);
    font-size: 14px;

    resize: none;
    overflow-y: auto;
    box-sizing: border-box;

    min-height: 40px;
    line-height: 20px;

    max-height: 160px;

    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.35) transparent;

    &:focus {
      border-color: var(--color-primary);
      outline: none;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      margin: 4px; 
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.35);
      border-radius: 8px;
      border: 2px solid transparent;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0, 0, 0, 0.55);
    }
  }
}
