.radio-control-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .radio-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -4px;
  }

  .radio-options {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .radio-option {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;

    input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    .radio-outer {
      width: 12px;
      height: 12px;
      border: 1px solid #4D5225;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      transition: all 0.2s ease;
    }

    .radio-inner {
      width: 8px;
      height: 8px;
      background-color: #4D5225;
      border-radius: 50%;
      opacity: 0;
      transform: scale(0.5);
      transition: all 0.2s ease;
    }

    .radio-inner.show {
      opacity: 1;
      transform: scale(1);
    }

    .radio-text {
      font-size: 15px;
      color: #222;
    }
  }

  .radio-error {
    color: red;
    font-size: 12px;
  }
}
